// ===========================
// Variables
// ===========================

$font-family: 'Roboto', sans-serif;
$theme-color: rgba(229, 3, 0, 1);
$font-color: rgba(62, 62, 62, 1);
// ===========================
// Mixins
// ===========================

%flex-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}


